@{
    ViewBag.Title = "Not Found";
}

<div style="color: White; height: 25px;"></div>
<div style="background-color: aliceblue; height: 170px;">
    <div style=" padding:20px;">
        <h3>
            Application Error:
        </h3>
        <h4>
            Sorry, The Page, You are Looking for is not found.
        </h4>
        <h6>@Html.ActionLink("Go Back To Previous Page", "Index", "Event")</h6>
        <br />
        <br />
    </div> 
</div>
<div style="color: White; height: 25px;"></div>  